@font-face {
    font-family: 'KyoboHand';
    src: url('https://zegolife.s3.ap-northeast-2.amazonaws.com/fonts/Threads/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}