.theme-pink-55 {

    --background-color: #FD99E1;

    --site-logo-color: black;
    --site-logo-bg-image: linear-gradient(90deg, rgba(253, 153, 225, 1) 0%, rgba(255, 206, 241, 1) 100%);
    --site-text-color: black;
    --site-sub-text-color: #2c2c2c;
    --site-bg-color: #FD00E1;

    --card-box-text-color: black;
    --card-box-bg-color: white;
    --card-box-opacity: 1;

    --highlight-color: #fd99e1;

    --nav-bar-default-color: #a07272;
    --nav-bar-active-color: black;
    --nav-bar-bg-color: rgba(255, 255, 255, 0);
    --nav-bar-bg-image: linear-gradient(90deg, rgba(253, 153, 225, 1) 0%, rgba(255, 206, 241, 1) 100%);

    --button-primary-color: #ffc2ee;
    --button-primary-text-color: black;

    --loader-color: 0, 0, 0;
}

.theme-pure-dark {
    --background-color: black;

    --site-logo-color: #d6d600;
    --site-logo-bg-color: #000000cc;
    --site-text-color: yellow;
    --site-sub-text-color: #8f8f00;
    --site-bg-color: black;

    --card-box-text-color: yellow;
    --card-box-bg-color: #121212;
    --card-box-opacity: 1;

    --highlight-color: #fd99e1;

    --nav-bar-default-color: #696900;
    --nav-bar-active-color: #d6d600;
    --nav-bar-bg-color: rgba(0, 0, 0, 0.8);

    --button-primary-color: #272727;
    --button-primary-text-color: #d6d600;

    --loader-color: 255, 255, 0;

    /*--font-family: "NeoDunggeunmo", "SpoqaHanSans";*/
    font-family: "SpoqaHanSans";

}

.theme-logo-blue {
    --background-color: #6153cc;

    --site-logo-color: white;
    --site-logo-bg-color: #6153cccc;
    --site-text-color: white;
    --site-sub-text-color: #cecece;
    --site-bg-color: black;

    --card-box-text-color: white;
    --card-box-bg-color: #121212cc;
    --card-box-opacity: 1;

    --highlight-color: #d6d600;

    --nav-bar-default-color: #a5a5a5;
    --nav-bar-active-color: white;
    --nav-bar-bg-color: #6153cccc;

    --button-primary-color: #d6d600;
    --button-primary-text-color: #272727;

    --loader-color: 255, 255, 0;

    /*--font-family: "NeoDunggeunmo", "SpoqaHanSans";*/
    font-family: "SpoqaHanSans";
}