.theme-null, .theme-light, :root {

    --background-color: #eef1f5;

    --site-logo-color: black;
    --site-logo-bg-color: rgba(255, 255, 255, 0.8);
    --site-text-color: black;
    --site-bg-color: #EEF1F5;

    --card-box-text-color: black;
    --card-box-bg-color: white;
    --card-box-opacity: 1;

    --diet-when-color: red;

    --nav-bar-default-color: #00000034;
    --nav-bar-active-color: black;
    --nav-bar-bg-color: rgba(255, 255, 255, 0.8);

    --button-primary-color: #837ae6;
    --button-primary-text-color: #EEF1F5;

    --loader-color: 0, 0, 0;

    --font-family: "Spoqa Han Sans Neo";
}

@media (prefers-color-scheme: dark) {
    .theme-null, :root {
        --background-color: #121212;

        --site-logo-color: #E4E8EB;
        --site-logo-bg-color: rgba(0, 0, 0, 0.8);
        --site-text-color: #ffffffd3;
        --site-bg-color: #121212;

        --card-box-text-color: white;
        --card-box-bg-color: #272727;
        --card-box-opacity: 1;

        --diet-when-color: #fd99e1;

        --nav-bar-default-color: #ffffff8e;
        --nav-bar-active-color: white;
        --nav-bar-bg-color: rgba(0, 0, 0, 0.8);

        --button-primary-color: #837ae6;
        --button-primary-text-color: #EEF1F5;

        --loader-color: 0, 0, 0;
    }
}

.theme-dark {
    --background-color: #121212;

    --site-logo-color: #E4E8EB;
    --site-logo-bg-color: #000000cc;
    --site-text-color: #ffffffd3;
    --site-bg-color: #121212;

    --card-box-text-color: white;
    --card-box-bg-color: #272727;
    --card-box-opacity: 1;

    --diet-when-color: #fd99e1;

    --nav-bar-default-color: #ffffff8e;
    --nav-bar-active-color: white;
    --nav-bar-bg-color: rgba(0, 0, 0, 0.8);

    --button-primary-color: purple;

    --loader-color: 255, 255, 255;
}
