.theme-pure-dark {
    --background-color: black;

    --site-logo-color: #d6d600;
    --site-logo-bg-color: #000000cc;
    --site-text-color: rgb(255, 0, 255);
    --site-bg-color: black;

    --card-box-text-color: yellow;
    --card-box-bg-color: #121212;
    --card-box-opacity: 1;

    --diet-when-color: #fd99e1;

    --nav-bar-default-color: #696900;
    --nav-bar-active-color: #d6d600;
    --nav-bar-bg-color: rgba(0, 0, 0, 0.8);

    --button-primary-color: #272727;

    --loader-color: yellow;
}
