@viewport {
    viewport-fit: cover;
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4rem);
    left: calc(50% - 3.4rem);
    width: 6rem;
    height: 6rem !important;
    border: .5rem solid rgba(var(--loader-color), 0.2);
    border-left: .5rem solid rgb(var(--loader-color));
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-position-x: var(--background-position);

    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    margin-bottom: env(safe-area-inset-bottom);
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body, textarea {
    font-family: "Spoqa Han Sans Neo", sans-serif;
}

.root-div {
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

li {
    margin-left: 1.5em;
}

a, .input, .select {
    color: var(--site-text-color);
}

option {
    color: black;
}

.button {
    margin-top: .25rem;
    font-size: 1rem;
    border-radius: 6px;
    font-weight: bold;

    padding-left: .75rem;
    padding-right: .75rem;

    color: var(--button-primary-text-color);
    background-color: var(--button-primary-color);
}

.button.loading {
    padding-right: 1.7rem;
}

.site, .button, .input, .select, .textarea, .react-datepicker {
    font-family: var(--font-family) !important;
}

#root {
    height: 100%;
}

nav, header {
    z-index: 99;

    background-color: var(--nav-bar-bg-color);
    background-image: var(--nav-bar-bg-image);
    backdrop-filter: blur(5px);
}

nav, header, .campaign-box img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.w-100 {
    width: 100%;
}

.page-title {
    font-size: 2.3em;
    margin-bottom: .75rem;

    -webkit-text-stroke-color: var(--page-title-bg-color);
}

.page-title .sub {
    font-size: .65em;
    opacity: .6;
}

.page-title-sub {
    margin-top: 2em;
    margin-bottom: 1em;
}

a:has("div") {
    text-decoration: none;
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

.radio-description, .notice-line {
    margin: 0 .25rem 1rem .25rem;
}

.card-box-review p {
    text-align: center;
    font-size: 1.3em;
}

.card-box-review .rate {
    font-size: 2em;
}

.card-box-review select {
    font-size: 1em;
    color: var(--card-box-text-color);
}

.login-box input {
    color: var(--site-text-color);
    font-size: 1rem;
}

p a {
    color: var(--card-box-text-color)
}

.register-step2-box input {
    color: var(--site-text-color);
    font-size: 1rem;
}

.checkbox:checked + label::before {
    background: currentColor !important;
}

.checkbox + label::after, .checkbox-round + label::after {
    color: var(--card-box-bg-color);
}

.register-step2-box .spinner {
    margin: 0.8em;
}

.button-auth-choose {
    margin: .25em;
}

.checkbox:checked + label::before {
    background: none;
}

.register-scan-button {
    display: grid;
    place-items: center;
    width: 100%;
}

.register-scan-button button {
    margin: 5rem;
}

.register-select {
    display: block;
}

.register-select button {
    border: 1px solid white !important;
    background-color: grey;
}

input.register-birthday {
    color: var(--card-box-text-color) !important;
    width: 100%;
}

::placeholder {
    opacity: 0.6;
}

.input::placeholder, .textarea::placeholder {
    color: var(--site-text-color);
}

.card-box .input::placeholder, .card-box .textarea::placeholder {
    color: var(--card-box-text-color);
}

.light-blue-horizion {
    background-image: linear-gradient(to bottom, #82c0ff 0%, #5A4FCF 100%);
}

/* diet-card */


/* 얼마나 남았나? */

.dday-name {
    text-align: center;
    font-size: 1.1em !important;
}

.dday-dday {
    text-align: center;
    font-size: 3em !important;
    font-weight: 900;
}

/* /events/ */

.events {
    border: none !important;
    min-width: 70% !important;
}

.event-date {
    border-right: var(--card-box-text-color) dashed 2px;
    vertical-align: top;
    width: 5em;
}

.loading-text {
    font-size: 1.2em;
}

.textarea {
    font-size: 1em;
    color: var(--site-text-color);
    transition: .3s;
}

.input, .button, .react-datepicker__today-button {
    transition: .3s;
}

.react-datepicker__today-button:hover {
    opacity: 0.6;
}

.textarea:hover, .input:hover, .button:hover, .textarea:focus, .input:focus, .button:focus, .react-datepicker__today-button:hover, .react-datepicker__today-button:focus {
    transform: scale(1.025);
    border-color: inherit;
}

/* timetable */
.timetable-container {
    overflow-x: scroll;
}

.timetable {
    border: none !important;
    font-size: 1rem;
    border-spacing: 0.5rem;
    border-collapse: separate !important;
    border-radius: .4em;
}

@keyframes fadeInTTdisable {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    75% {
        opacity: .7;
        transform: scale(.85);
    }
    100% {
        transform: scale(1)
    }
}

.timetable td {
    color: var(--card-box-text-color);
    padding: .4em !important;
    background: var(--card-box-bg-color);
    opacity: .7;
    border-radius: .5em;
    text-align: center;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: .3s;

    min-width: 3.5rem;

    word-break: keep-all;
    animation-name: fadeInTTdisable;
    animation-duration: .25s;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.timetable td:nth-child(1) { /* n교시 */
    font-size: .75em;
    font-weight: 900;
    opacity: 1;
}

.timetable td:hover, .today {
    opacity: 1 !important;
}

.timetable thead td {
    text-align: center;
}

.timetable thead td:nth-child(1) { /* 교시와 요일 가운데의 빈공간 */
    box-shadow: none;
    background: none;
}

.subject {
    font-weight: 700;
    display: block;
}

.teacher {
    word-break: keep-all;
    font-size: .75em;
    font-weight: 500;
    display: block;
}

.room {
    word-break: keep-all;
    font-size: .75em;
    font-weight: 500;
    display: block;
}

.timetable .start-end {
    font-size: 1em;
    display: block;
    font-weight: 300;
    word-break: keep-all;
}

.timetable-exam td {
    opacity: 1;
}

.timetable-exam td:empty {
    opacity: .5;
}

/* radio */
.radio-description {
    background-color: var(--card-box-bg-color);
    color: var(--card-box-text-color);
    padding: 1em;
    border-radius: 6px;
    margin-bottom: .75em;
}

.textarea, .input, .select {
    border: 2px solid var(--site-text-color);
}
/* responsible */

@media (min-width: 300px) {
    .page-title {
        margin-top: 1em;
    }
}

@media (min-width: 800px) {
    .page-title {
        margin-top: 1em;
    }
}

.copyright {
    text-align: center;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-top: 3em;
    font-weight: 300;
    color: var(--site-text-color);
    padding-bottom: 1.2em;
    font-size: 1em;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    10%, 30% {
        transform: scale(.9);
    }
    20%, 40%, 50%, 60%, 70%, 80% {
        transform: scale(1.1);
    }
}

a[href="/about"] {
    margin-left: 6px;
    color: var(--site-text-color);
}

.footer-icon {
    animation: heartbeat 1.33s ease-in-out infinite;
    fill: #f06292 !important;
    margin-left: 6px;
    margin-right: 6px;
}

.icon {
    position: relative;
    top: .13em;
    width: 1em;
    height: 1em;
    margin-right: .25em;
    fill: currentColor;
    display: inline-block;
    vertical-align: auto;

    color: currentColor;
}

.button .icon {
    top: -0.01em;
}

.icon-tabler {
    stroke: currentColor;
    fill: transparent;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.icon-not-tabler {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.diet-apply .icon {
    color: white;
}

.check-icon {
    fill: green;
    color: green;
}

.check-green-circle {
    width: 3em;
    height: 3em;
    margin-top: 2em;
}

.check-green-circle polygon {
    fill: white;
}

.check-green-circle path {
    fill: green;
}