.inline-calendar .react-datepicker, .inline-calendar .react-datepicker__header {
    background-color: transparent;
    border: none;
}

.inline-calendar .react-datepicker__today-button {
    color: var(--button-primary-text-color) !important;
    background-color: var(--button-primary-color) !important;
    font-weight: bold !important;
    border-top: none !important;
    width: 50% !important;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* 화살표 */
.react-datepicker__navigation-icon::before, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow {
    height: 1.2em;
}

.inline-calendar .react-datepicker__day, .inline-calendar .react-datepicker__month-text, .inline-calendar .react-datepicker__quarter-text, .inline-calendar .react-datepicker__year-text {
    border-color: transparent;
    transition: .5s;
    border-radius: 999rem;
}

.inline-calendar .react-datepicker__day--disabled {
    visibility: hidden;
}

/* 각각 하나씩 */
.inline-calendar [class^="react-datepicker"] {
    width: 100%;
    color: var(--card-box-text-color);
}

/* 하이라이트된 것들 */
.inline-calendar .react-datepicker__day--highlighted {
    background-color: unset;
    color: var(--highlight-color);
    font-weight: bold;
    text-decoration: underline;
}

/* 선택됨 */
.inline-calendar .react-datepicker__day--selected, .inline-calendar .react-datepicker__day--in-selecting-range, .inline-calendar .react-datepicker__day--in-range, .inline-calendar .react-datepicker__month-text--selected, .inline-calendar .react-datepicker__month-text--in-selecting-range, .inline-calendar .react-datepicker__month-text--in-range, .inline-calendar .react-datepicker__quarter-text--selected, .inline-calendar .react-datepicker__quarter-text--in-selecting-range, .inline-calendar .react-datepicker__quarter-text--in-range, .inline-calendar .react-datepicker__year-text--selected, .inline-calendar .react-datepicker__year-text--in-selecting-range, .inline-calendar .react-datepicker__year-text--in-range {
    border-radius: 999rem !important;
    color: var(--button-primary-text-color) !important;
    background-color: var(--button-primary-color) !important;
}

/* hover */
.inline-calendar .react-datepicker__day:hover, .inline-calendar .react-datepicker__month-text:hover, .inline-calendar .react-datepicker__quarter-text:hover, .inline-calendar .react-datepicker__year-text:hover {
    background-color: unset;
    transform: scale(1.2);
}

/* 각각의 날들 */
.inline-calendar .react-datepicker__day, .inline-calendar .react-datepicker__day-name {
    width: 1.7rem;
}

.inline-calendar .react-datepicker__navigation {
    width: 10px;
}